.standard-title--app {
  text-align: center;
  position: relative;
  color: #88bbf0;

  &:after, &:before {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 3px;
    background-color: #88bbf0;
    box-shadow: 0 0 3px #88bbf0;
  }

  &:after {
    bottom: -8px;
    width: 50px;
  }
}

#app {
  padding: 40px 0 0 0;
display: none;
}


.filter {
  display: flex;
  justify-content: center;
}

.filter__section {
  display: flex;
  padding: 20px 0;
}

.form__group {
  width: 25%;
  margin: 15px 0;
  padding: 0 8px;
}

.form__label {
  display: block;
  margin-bottom: 6px;
}

.form__control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  border: 2px solid #88bbf0;
  box-sizing: border-box;
  outline: none;
  border-radius: 2px;
}

.button-action {
  width: 130px;
}

.card-text {
  word-break: break-all;
  padding: 5px 15px 10px 15px;
  box-sizing: border-box;
}


.selected {
  background-color: rgba(255, 255, 255, .2);
}

.hide {
  display: none;
}

.show {
  display: block;
}

.visits {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
}

.info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.hide-info {
  display: none;
}

.change-hide-info {
  margin: 0 auto;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  animation: showInfo 0.5s linear forwards;
}

.card-title {
  width: 100%;
  box-sizing: border-box;
  padding-left: 35px;
}
.button-action {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.info {
  padding: 15px 0;
  color: #3d3d3d;
}

.check-status,.hide-btn-container {
  display: flex;
  align-items: center;

  & select, button {
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
  }
}

.dentist {
  background-color: rgba(173,200,236,.8);
  box-shadow: 0 0 5px rgba(58, 100, 155, .8);
  & .change-hide-info{
    border:2px solid #6595bb;
    border-top: none;
    border-bottom: none;
  }
}
.cardio{
  background-color: #fc8787;
  box-shadow: 0 0 5px rgba(97,0,0,.9);
  & .change-hide-info{
    border:2px solid #db6868;
    border-top: none;
    border-bottom: none;
  }
}
.therapy{
  background-color: #27df87;
  box-shadow: 0 0 5px rgba(57, 97, 26, .9);
  & .change-hide-info{
    border:2px solid #4abe81;
    border-top: none;
    border-bottom: none;
  }
}
.hide-btn {
  display: none;
}



  @keyframes showInfo {
    0% {
      opacity: 0;
      height: 30px;
      padding: 5px 0;
    }
    25% {
      opacity: .3;
      height: 60px;
      padding: 15px 0;
    }
    50% {
      opacity: .6;
      height: 90px;
      padding: 15px 0;
    }
    75% {
      opacity: .8;
      height: 120px;
      padding: 15px 0;
    }
    100% {
      opacity: 1;
      height: auto;
      padding: 15px 0;
      overflow: visible;
    }
  }
  .empty {
    display: none;
    color: red;
    font-size: 40px;
    font-weight: bold;
  }
