@import "reset";
@import "veriables";
@import "mix_in";
body{
  min-width: 320px;
}
.standard-title{
  padding: 10px 0;
  color: #2E2E2E;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  &--main{
    position: relative;
    &:before, &:after{
      content: "";
      display: block;
      width: 25px;
      height: 2px;
      background-color: #3d3d3d;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
.container{
  @include center(1200px);
}
img{
  width: 100%;
  height: 100%;
}
@import "board";
@import "form";
@import "header";

.getCards {
  display: none;
}
option {
  font-size: 16px;
}
.kek{
  padding: 20px 0;
}
//#app{
//  display: none;
//}
.hide{
  display: none;
}
.show{
  display: block;
}
button{
  cursor: pointer;
}
.form__error{
  color: red;
}